@import "rift";

.chilong {
  font-family: 'Press Start 2P', cursive;
  color: white;
  position: absolute;

  &.pane {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &#scoreboard {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 11em;
    background-color: rgba(0, 0, 0, 0.2);

    #score { float: right; }
  }

  .rift {
    // display: none;
    position: absolute;
    width: 20%; /* will be replace by height */
    height: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    div {
      // display: none;

      &:nth-child(1) {
        @include spinner-border(0px, .8s, normal);
        border-top-color: #e74c3c;
      }
      &:nth-child(2) {
        @include spinner-border(7px, 1s, reverse);
        border-top-color: #f9c922;
      }
      &:nth-child(3) {
        @include spinner-border(14px, 0.5s, reverse);
        border-top-color: rgb(38, 122, 89);
      }
      &:nth-child(4) {
        @include spinner-border(21px, 1.2s, normal);
        border-top-color: rgb(138, 65, 41);
      }
      &:nth-child(5) {
        @include spinner-border(-10px, .2s, reverse);
        border-width: 10px;
        border-top-color: white;
      }
    }

  }

  /** PONG **/
  #ball, .vbar, .hbar {
    position: absolute;
    background-color: white;
  }

  #ball {
    height: 2%;
    width: 2%;
    /* will be replace by height */
    top: 50px;
    left: 50px;
    background-color: white;
  }

  .vbar {
    width: 3%;
    height: 15%;
    top: 100px;
  }
  .hbar {
    height: 3%;
    width: 15%;
  }
  #left { left: 0; }
  #right { right: 0; }
  #top { top: 0; }
  #bottom { bottom: 0; }

  &.portal_active {
    #left { background-color: #50c0ee; }
    #right { background-color: #e25d30; }
  }

  .powerup {
  	position: absolute;
  	height: 5%;
  	width: 5%; /* will be replace by height */
  }
}
