@import "rift";

.chilong {
  font-family: 'Press Start 2P', cursive;
  color: white;
  position: absolute;

  &.pane {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .rift {
    // display: none;
    position: absolute;
    width: 20%; /* will be replace by height */
    height: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 6px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px 2px white;

    background-color: rgba(255, 255, 255, .75);

    #scoreboard {
      display: block;
      position: absolute;
      width: 10.5em;
      padding: 10px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      background-color: rgba(0, 0, 0, 0.3);

      #score { float: right; }
    }

    div {
      //display: none;

      &:nth-child(1) {
        @include spinner-border(16px, 0px, 2s, normal);
      }
      &:nth-child(2) {
        @include spinner-border(16px, 15px, 1s, reverse);
      }
      &:nth-child(3) {
        @include spinner-border(21px, 30px, 0.5s, normal);
      }
      &:nth-child(4) {
        @include spinner-border(21px, 50px, 0.25s, reverse);
      }
      &:nth-child(5) {
        @include spinner-border(11px, 70px, .1s, reverse);
      }

      &.activated {
        border-color: #e25d30;
        animation: none;
      }
    }

  }

  /** PONG **/
  #ball, .vbar, .hbar {
    position: absolute;
    background-color: white;
  }

  #ball {
    height: 2%;
    width: 2%;
    /* will be replace by height */
    top: 50px;
    left: 50px;
    background-color: white;
  }

  .vbar {
    width: 3%;
    height: 15%;
    top: 100px;
  }
  .hbar {
    display: none;
    height: 3%;
    width: 15%;
  }
  #left { left: 0; }
  #right { right: 0; }
  #top { top: 0; }
  #bottom { bottom: 0; }

  &.portal_active {
    #left { background-color: #50c0ee; }
    #right { background-color: #e25d30; }
  }

  .powerup {
  	position: absolute;
  	height: 5%;
  	width: 5%; /* will be replace by height */
  }

  &.stage2 {
    .vbar {
      height: 30%;
    }
    .hbar {
      display: block;
      width: 30%;
    }
  }
}
