@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
.chilong {
  font-family: "Press Start 2P", cursive;
  color: white;
  position: absolute;
  /** PONG **/
}
.chilong.pane {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chilong .rift {
  position: absolute;
  width: 20%;
  /* will be replace by height */
  height: 20%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px white;
  background-color: rgba(255, 255, 255, 0.75);
}
.chilong .rift #scoreboard {
  display: block;
  position: absolute;
  width: 10.5em;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
}
.chilong .rift #scoreboard #score {
  float: right;
}
.chilong .rift div:nth-child(1) {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 16px solid transparent;
  border-top-color: #50c0ee;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  animation-direction: normal;
}
.chilong .rift div:nth-child(2) {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 16px solid transparent;
  border-top-color: #50c0ee;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  animation-direction: reverse;
}
.chilong .rift div:nth-child(3) {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 21px solid transparent;
  border-top-color: #50c0ee;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  animation-direction: normal;
}
.chilong .rift div:nth-child(4) {
  content: "";
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  border: 21px solid transparent;
  border-top-color: #50c0ee;
  border-radius: 50%;
  animation: spin 0.25s linear infinite;
  animation-direction: reverse;
}
.chilong .rift div:nth-child(5) {
  content: "";
  position: absolute;
  top: 70px;
  left: 70px;
  right: 70px;
  bottom: 70px;
  border: 11px solid transparent;
  border-top-color: #50c0ee;
  border-radius: 50%;
  animation: spin 0.1s linear infinite;
  animation-direction: reverse;
}
.chilong .rift div.activated {
  border-color: #e25d30;
  animation: none;
}
.chilong #ball, .chilong .vbar, .chilong .hbar {
  position: absolute;
  background-color: white;
}
.chilong #ball {
  height: 2%;
  width: 2%;
  /* will be replace by height */
  top: 50px;
  left: 50px;
  background-color: white;
}
.chilong .vbar {
  width: 3%;
  height: 15%;
  top: 100px;
}
.chilong .hbar {
  display: none;
  height: 3%;
  width: 15%;
}
.chilong #left {
  left: 0;
}
.chilong #right {
  right: 0;
}
.chilong #top {
  top: 0;
}
.chilong #bottom {
  bottom: 0;
}
.chilong.portal_active #left {
  background-color: #50c0ee;
}
.chilong.portal_active #right {
  background-color: #e25d30;
}
.chilong .powerup {
  position: absolute;
  height: 5%;
  width: 5%;
  /* will be replace by height */
}
.chilong.stage2 .vbar {
  height: 30%;
}
.chilong.stage2 .hbar {
  display: block;
  width: 30%;
}

/*# sourceMappingURL=chilong.css.map */
